### Editors ###
/.idea
/.vscode

### macOS ###
.DS_Store

### LaTex Build ###
_minted-template
*.dvi
*.pdf
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.ltjruby
*.bcf
*.pyg
*.run.xml
*.synctex.gz
*.fdb_latexm
